\:host
  display: block

  .post-form-input
    margin-top: 1rem

    &:first-child
      margin-top: 0

  .button-bar
    margin-top: 1rem
    min-height: 45px

    ::content > .buttons
      display: inline-block
      > *
        float: right

    #lemon_submit_post
      float: right
