<dom-module id="lemon-post-form">
  <link rel="stylesheet" href="lemon-post-form.css" />
  <template>
    <content select="form"></content>
    <iron-media-query query="(max-width: 480px)" query-matches="{{smallScreen}}"></iron-media-query>
    <paper-material class="posts" elevation$="[[_computeElevation(smallScreen)]]">
      <div class="post-form">
        <content select=".header"></content>
        <paper-input class="post-form-input" id="lemon_post_title"
            label="title" required auto-validate error-message="required"></paper-input>
        <paper-textarea class="post-form-input" id="lemon_post_body"
            label="body" required auto-validate error-message="required"></paper-textarea>
      </div>
      <div class="button-bar">
        <paper-button id="lemon_submit_post">Publish</paper-button>
        <content select=".buttons"></content>
      </div>
    </paper-material>
  </template>

  <script src="lemon-post-form.js"></script>
</dom-module>
