<div data-controller="desktop" class="desktop">
  <div class="desktop__window window" data-controller="window" data-target="desktop.window" data-action="mousedown->window#mouseDown mouseup->window#mouseUp mousemove->window#mouseMove" style="top:100px;left:100px">
  </div>
</div>

<!-- <h1>Posts</h1>

<ol>
  <% @posts.each do |post| %>
    <li>
      <%= post.title %>
    </li>
  <% end %>
</ol>
-->
