$dark-primary-color: #689F38
$primary-color: #8BC34A
$light-primary-color: #DCEDC8
$text-color: #212121
$accent-color: #FF5722
$primary-text-color: #212121
$secondary-text-color: #727272
$divider-color: #B6B6B6
$hilight-color: #CECECE
$background-color: #f2f2f2

$break-small: 480px
$break-medium: 640px
$break-large: 1024px
$post-width-large: $break-large - 102px
$post-width-large-half: ($break-large - 102px)/2
$post-width-large-inner: $post-width-large * 0.95
$post-width-large-margin: $post-width-large * 0.025

$transition-time: 0.1s
