$dark-primary-color: #689F38
$primary-color: #8BC34A
$light-primary-color: #DCEDC8
$text-color: #212121
$accent-color: #FF5722
$primary-text-color: #212121
$secondary-text-color: #727272
$divider-color: #B6B6B6

paper-toolbar
  paper-icon-button
    color: white

paper-header-panel.main-header

  paper-toolbar.toolbar
    position: relative
    background: $primary-color

    .header-logo
      position: absolute
      top: 0
      left: 0
      right: 0
      height: 100%
      background: transparent

      h1
        text-align: center
        padding: 0
        margin-top: 1rem
        font-family: monospace

.fixed
  position: fixed
  bottom: 0
  right: 0
  padding: 23px 46px 23px 15px

  paper-fab.orange
    background: $accent-color

.content
  .posts
    width: 66%
    margin: 0 auto

    .post
      position: relative
      margin-bottom: 1rem
      padding-bottom: 1rem

      .post-title
        background: #F0F0F0
        color: $primary-text-color
        border-bottom: 1px solid $divider-color

        .title
          margin-left: 0

        a.title
          color: $primary-text-color
          text-decoration: none

        paper-icon-button
          color: $primary-text-color

      .body
        padding: 0.5rem
        font-family: 'Roboto', 'Noto', sans-serif
        font-weight: lighter
        margin: 0 auto
        width: 90%

      .body-fade
        position: absolute
        bottom: 0
        width: 100%
        height: 100%

        background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%)
        background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%)
        background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 )

    .post--short
      @extend .post
      max-height: 300px
      overflow: hidden
