@import "bourbon"
@import "variables"

.post
  position: relative
  padding: 1rem
  margin: 1rem 0
  background: white
  font-size: 14px
  line-height: 1.428571429

  .pre-body
    height: 2rem

    .post-date
      float: left
      color: $secondary-text-color
      padding: 0.3rem 0

    .post-tag
      float: right
      background: $accent-color
      color: white
      padding: 0.3rem 0.5rem

      &+.post-tag
        margin-right: 0.5rem

  pre
    background-color: #f8f8f8
    padding: 1rem
