= content_for :critical_css do
  = ::Sprockets::Railtie.build_environment(Rails.application)["post-listing-inline.css"].to_s

h1.archive-heading.orange Category "#{@tag}"

= render '/shared/post_listing', posts: @posts
