<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../paper-material/paper-material.html">

<dom-module id="lemon-post">
  <link rel="stylesheet" href="lemon-post.css" />
  <template>
    <iron-media-query query="(max-width: 480px)" query-matches="{{smallScreen}}"></iron-media-query>
    <paper-material id="postMaterial" elevation$="[[_computeElevation(smallScreen)]]">
      <div class="body">
        <div class="post-date">[[post.date]]</div>
        <h1><a id="titleTag" href="[[post.url]]">[[post.title]]</a></h1>
        <content></content>
      </div>
      <a id="summaryOverlay" class="body-fade" href$="[[post.url]]">
        <paper-ripple recenters id="ripple"></paper-ripple>
      </a>
    </paper-material>
  </template>

  <script src="lemon-post.js"></script>
</dom-module>
