// TODO: import sass with variables?
$primary-text-color: #212121

\:host
  background: white
  position: relative
  margin-bottom: 1rem
  padding-bottom: 1rem

  h1
    a
      color: $primary-text-color
      text-decoration: none

      &:hover
        border-bottom: 2px dotted $primary-text-color

  .body
    padding: 0.5rem
    font-weight: lighter
    margin: 0 auto
    width: 90%
    padding-bottom: 88px
