<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../paper-material/paper-material.html">

<dom-module id="lemon-post">
  <link rel="stylesheet" href="lemon-post.css" />
  <template>
    <paper-material id="postMaterial" elevation="3">
      <div class="body">
        <h1><a id="titleTag" href="#">[[title]]</a></h1>
        <content></content>
      </div>
      <a id="summaryOverlay" class="body-fade" href="#">
        <paper-ripple recenters id="ripple"></paper-ripple>
      </a>
    </paper-material>
  </template>

  <script src="lemon-post.js"></script>
</dom-module>
